 <script language="javascript" type="text/javascript" src="js/navshow.js"></script>
    	<script language="javascript" type="text/javascript" src="js/Scroll.js"></script>
        <script language="javascript" type="text/javascript" src="js/Scroll1.js"></script>
        <script language="javascript" type="text/javascript" src="js/newsscroll.js"></script>
        <script language="javascript" type="text/javascript" src="js/tabmore.js"></script>
        <script language="javascript" type="text/javascript" src="js/recently_sell.js"></script>
    	<div id="footer">
        	<p style="padding-top:15px;">²©ÑÅ½ÌÓý********************************************************</p>
        	<p>copyright@2012 <a href="#">boya.com</a> ÃöICP±¸xxxxxxx</p>
    	</div>
    </div>
</body>
</html>


