{include file="inc/top.html"}
        <div id="content">
        	<div class="main">
                <div id="left">
                    <div id="categories">
                        <div class="left_tt">栏目类型</div>
                        <div class="cate">
                            <ul>
                                <li class="current_li"><a href="pxzx.html">能力提升</a></li>
                                <li><a href="#">职业认证</a></li>
                                <li><a href="#">国学讲堂</a></li>
                                <li><a href="#">学历教育</a></li>
                                <li><a href="#">免费培训</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="onlineRegister">
                        <a href="wsbm.html" class="online_register"></a>
                    </div>
                    <div id="map">
                        <img src="images/map.jpg" />
                    </div>
                    <div id="contact">
                        <div class="left_tt">联系我们</div>
                        <ul>
                            <li>地址：福建省福州市鼓楼区***路***号***楼</li>
                            <li>电话：13788889999</li>
                            <li>QQ：77777777</li>
                            <li>Email：77777777@qq.com</li>
                        </ul>
                        <div id="left_bttm"></div>
                    </div>
                </div>
                <div id="right">
                   <div id="path">
                       <h2>能力提升</h2>
                       <div class="path">
                           <a href="index.html">首页&nbsp;&gt;&nbsp;</a>
                           <a href="pxzx.html">培训中心&nbsp;&gt;&nbsp;</a>
                           <a href="pxzx.html">能力提升&nbsp;&gt;&nbsp;</a>
                           C/C++课程体系
                       </div>
                   </div>
                   <div id="detail">
                   	   <h3>一.为什么本科生要学C++</h3>
                       <p>
                       1、C/C++是本科院校的基础课程，很多非计算机专业的也都有开设。语法学习上不需要投入更多 的学 习成本。 使用最熟悉的语言赚更
多的钱。
                       </p>
                       <p>
                       2、学好C/C++，走遍天下都不怕。学C/C++就掌握了语言的通性，学其他语言就方便了。学习在MacOS和iOS上使Objective-C（6.158%），
语法上可快速过渡。
                       </p>
                       <p>
                       3、同一水平的程序员，往往C/C++程序员获得的薪酬高。这意味C/C++人才稀缺， 学习难度大。你想挑战吗？
                       </p>
                       <p>
                       4、学习c++本科生比大专有绝佳的优势，本科生在数学及算法、英语等方面比大 专生强得多，因此学起c++相对更容易
                       </p>
                       <h3 style="padding-top:40px;">二、C++应用领域</h3>
                       <p>
                       C++作为有着20多年历史的程序语言，有着大量的沉淀。使得c++在现代软件领域中占据着举足轻重的地位，其应用领域：应用程序平台、
桌面软件开发（如：百度、QQ、浏览器、播放器… ）、高性能实时计算、CAD/CAE/CAM等、系统及框架、机器人及工业控制系统、手机等智能
设备、航空航天系统、多媒体网络游戏等。
                       </p>
                       <p>
                       此外，c++在系统级复杂应用程序，高性能、实时、并行和嵌入式的应用中 占主导地位，同时对灵活性和底层操作要求较高的软件开发中
暂居这绝对优势。
                       </p>
                   </div>
                </div>
            </div>
    	</div>
             {include file="inc/buttom.html"}
